<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="mandysax">

    <application>

        <provider
			android:exported="false"
            android:authorities="${applicationId}.mandysa.lifecycle"
            android:name="mandysax.plus.lifecycle.LifecycleContentProvider"/>
      
        <service
            android:name="mandysax.plus.media.PlayService"/>
        
    </application>

</manifest>
