<?xml version='1.0' encoding='utf-8'?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="mandysax">
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<application>
		<provider
			android:authorities="${applicationId}.MandySa"
			android:name="mandysax.lifecycle.LifecycleContentProvider"/>
	</application>
</manifest>
