<?xml version='1.0' encoding='utf-8'?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.FMJJ.MandySa">
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<application
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:resizeableActivity="true"
		android:theme="@style/AppTheme"
		android:usesCleartextTraffic="true"
		android:roundIcon="@mipmap/ic_launcher_round">
		<activity
			android:windowSoftInputMode="adjustPan|stateHidden"
			android:name=".ui.main.MainActivity"
			android:configChanges="uiMode"
			android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".ui.music.MusicActivity"/>
		<service
			android:name=".logic.model.MusicService">
			<intent-filter>
				<action android:name="android.media.browse.MediaBrowserService"/>
			</intent-filter>
		</service>
		<receiver android:name="androidx.media.session.MediaButtonReceiver">
			<intent-filter>
				<action android:name="android.intent.action.MEDIA_BUTTON"/>
			</intent-filter>
		</receiver>
	</application>
</manifest>
